.scrollContainer {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
    background-color: var(--muted);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--muted);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-300);
    border: none;
    border-radius: 3px;
    //border-top: 45px solid var(--muted);
  }

  &::-webkit-scrollbar-button {
    width: 0px;
    height: 45px;
  }
}
